body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #9c1c1f, #f19429);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ATX-Title {
    color: whitesmoke;
}

.has-bg-img {
    background: url("../images/people-at-concert.jpg")center center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 5px;
}

main {
    flex: 1;
}

#artistInfo {
    display: none;
    margin-top: 3rem;
}

.control {
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.596)
}

#artistTable td {
    /* width: 100%; */
    max-height: 200px;
    overflow: auto;
}

#artistThumb {
    border-radius: 20px;
}

#pageDiv {
    display: none;
}

#pageList {
    list-style-type: none;
}

.divider {
    margin-top: 3rem;
}

iframe {
    width: 500px;
    height: 300px;
}

@media only screen and (max-width: 676px) {
    .table {
        width: 100%;
    }
    #artistTable td {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
}