html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #9c1c1f, #f19429);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ATX-Title {
    color: whitesmoke;
}

.has-bg-img {
    background: url("../images/people-at-concert.jpg")center center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 5px;
}

.local-event {
    background-color: orangered;
    color: white;
    opacity: 0.9;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
    text-align: center;
    border-radius: 10px;
    font-size: small;
}

main {
    flex: 1;
}

#artistInfo {
    display: none;
}

.control {
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.596)
}

.table, .box, #pageInput {
    background-color: #f19429;
    border-radius: 10px;
}

#artistTable td {
    /* width: 100%; */
    max-height: 200px;
    overflow: auto;
}

#artistThumb {
    /* width: 100%; */
    border-radius: 10px;
}

#pageDiv {
    display: none;
}

#pageList {
    list-style-type: none;
}

#map {
    /* display: block; */
    /* overflow: hidden; */
    height: 350px;
    width: 100%;
}

#mapBox {
    flex-grow: 0;
    display: none;
    padding: 1rem;
}

.user-location-icon {
    background-color: red;
    color: white;
}

.divider {
    margin-top: 3rem;
}

#pageInput {
    width: 70px;
    text-align: center;
}

@media only screen and (max-width: 875px) {
    #map {
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .table {
        width: 100%;
    }
    #artistTable td {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
    
    .footer {
        padding: 1rem 0rem;
    }

    #mapBox {
        width: 100%;
        flex-grow: 1;
    }

    #pageInput {
        width: 50px;
        text-align: center;
    }
    .pageInputGroup {
        order: 1;
    }

    .columns-container {
        display: flex;
        flex-direction: column-reverse;
    }
}